---
import IMG from "../assets/profile-photo.png";
import { profile } from "../data/profile";
---

<section id="about" class="h-2/3 py-32">
    <div class="flex flex-col lg:flex-row justify-center items-center gap-12">
        <div
            data-aos="fade-down"
            data-aos-delay="1000"
            class="justify-center items-center"
        >
            <img
                class="rounded-full size-74 sm:size-90 border-4 border-blue-500 shadow-lg"
                src={IMG.src}
                alt="perfil"
            />
        </div>
        <div data-aos="fade-left" data-aos-delay="1900" class="w-3/4 sm:w-2/4">
            <h2 class="text-white text-3xl sm:text-4xl">Sobre mí</h2>
            <strong class="text-amber-400">Desarrollador Freelance 🇨🇺</strong>
            <p class="text-gray-300 text-left">{profile.about}</p>
        </div>
    </div>
</section>
