<footer>
    <p
        class="py-10 text-gray-500 text-[18px] sm:text-xl font-medium text-center hover:text-amber-50 transition-all delay-200"
    >
        ©️ 2025. David Emanuel Guilarte Correa.Todos los derechos reservados.
    </p>
</footer>
